@import './globals.scss';
@import '~bulma/bulma';

// 1 heading + 3 more (essentially 4 lines)
.media-content .content.max-lines--one-plus-three {
  // 6em is based on the default line-height of 1.5em
  max-height: 6em;
  overflow: hidden;
  position: relative;
}

// This will fade out the last line to 'white' (the assumed background colour)
.media-content .content.max-lines--one-plus-three::before {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
  content: '\00200c';
  display: block;
  position: absolute;
  right: 0;
  top: 4.5em;
  width: 30%;
}

@media screen and (min-width: 1000px) {
  .navbar-middle {
    justify-content: flex-start;
    margin-left: auto;
  }

  .navbar, .navbar-menu, .navbar-middle {
    align-items: stretch;
    display: flex;
  }
}

// NOTE(ajt): this changed in bulma 0.3.0 > 0.4.3 but I like the style so bringing it back
.navbar > .container {
  align-items: stretch;
  display: flex;
}
.navbar.has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}
